@model List<Review>

<<<<<<< HEAD
<script>
    let APP_ID = '1146299576721168';
    let PAGE_ID = '227047383835993';
    let PAGE_ACCESS_TOKEN = 'EAAQSjasTnxABO6NNxotBYr0Tyk8LS8JERQout077xYeY0Dhy5h18asHCsyOpyXl7vvhGBfxaYr3yZBjiM4a7y9sD2aOHUUILVTIyJZAr179SA8ReYy4sMyHVT28QLZCUGSjC2skeplAMF9D2CLd30sxQuKt4iCKifNhIflWDv3FeokeO7ET8tYgT5gnO8ALEDkiMZA4ZBvyL7bCnYqjFxO8IZD';
    let PATH = `/ ${PAGE_ID}/ratings?fields=created_time,review_text,rating`;
    let METHOD = 'GET';
    let PARAMS = {
        access_token: PAGE_ACCESS_TOKEN
    };
    //Note: This is the method that handles the response from the api call
    let CALLBACK = (response) => {
        let reviews = response.data; //this is an array of reviews
        console.log(reviews);
        
        //let reviewsString = reviews.toString();

        //<a class="nav-link text-dark" asp-area="" asp-controller="Photos" asp-action="Index">Photos</a>
        var reviewsString = encodeURIComponent(JSON.stringify(reviews));

        let el = document.createElement('a');
        el.setAttribute('href', "/Review/Index?reviewsFromFacebook=" + reviewsString);
 
        el.innerHTML = "load facebook reviews too";
        document.body.appendChild(el);
        console.log("the element: " + el);


        };

    window.fbAsyncInit = function () {
        FB.init({
            appId: APP_ID,
            xfbml: true,
            version: 'v19.0'
        });

        FB.api(PATH, METHOD, PARAMS, CALLBACK);
    };
</script>
<script async defer crossorigin='anonymous' src='https://connect.facebook.net/en_US/sdk.js'></script>


<div class="body" id="body">
    @foreach (var review in Model)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@review.ReviewRating Stars / 5 Stars</h5>
                <p class="card-text">@review.ReviewBody</p>
                <p class="card-text">-@review.ReviewerName</p>
                <p class="card-text">@review.ReviewDate</p>
=======
<div class="container">
    <div class="body">
        @foreach (var review in Model)
        {
            <div class="card">
                <div class="card-header">
                    <div class="name">@review.ReviewerName</div>
                    <div class="date">@review.ReviewDate</div>
                </div>
                <div class="card-body">
                    <p class="card-text">@review.ReviewBody</p>
                    <div class="stars">@review.ReviewRating Stars / 5 Stars</div>
                </div>
>>>>>>> Development
            </div>
        }
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var reviews = document.querySelectorAll(".card");
        reviews.forEach(function (review, index) {
            setTimeout(function () {
                review.classList.add("active");
            }, 100 * index);
        });
    });
</script>

<style>
    .card {
        opacity: 0;
        transform: translateY(50px);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

        .card.active {
            opacity: 1;
            transform: translateY(0);
        }
</style>