@model List<Review>
    
 <script>
    let APP_ID = '1146299576721168';
    let APP_SECRET = '643d48308ab141f0c95a7eedb625826c';
    let PAGE_ACCESS_TOKEN = 'EAAQSjasTnxABOyBpEJgqekZAiZCvJwrmdNKBY9wokiVyAqUZBCSr55AnOkivfC3Gk4QQisXFNlT0OxbRCDM97Jh87UBZBJea3poVTPdN0QN8dp0flaZBXhkvbp3mY9BowSRmaRLWQSS4OU4WJ1KdXZAdWqd24jXOcafwZAvvCZCbVbTq79d5bwRqXdTwqtZCXEf07xMpvwgkxDZC0XZAWxIfLgabZCtb';
    let PAGE_ID = '227047383835993';
    let PATH = `/ ${PAGE_ID}/ratings?fields=created_time,review_text,rating`;
    let METHOD = 'GET';
    let VERSION = 'v19.0';
    let PARAMS = {
        access_token: PAGE_ACCESS_TOKEN
    }
    let APP_SCOPED_UID = '306703255792712';





    let CALLBACK = (response) => {
        let reviews = response.data; 
        console.log(reviews);
        
        // Creating an element with the data encoded in the href so we can send it to controller
        var reviewsString = encodeURIComponent(JSON.stringify(reviews));
        let el = document.createElement('a');
        el.setAttribute('href', "/Review/Index?reviewsFromFacebook=" + reviewsString);
        el.innerHTML = "load facebook reviews too";
        document.body.appendChild(el);
        }





    window.fbAsyncInit = function () {
        FB.init({
            appId: APP_ID,
            xfbml: true,
            version: VERSION
        });

        //checking if there is a token from the database to use
    
        let t = '@(ViewBag.token)';
        
        if (t != "") {
            // Getting reviews with the token from the database
            PARAMS.access_token = t;
            FB.api(PATH, METHOD, PARAMS, CALLBACK);
        } else {
            // Long UAccess token
            //`${VERSION}/oauth/access_token?grant_type=fb_exchange_token&client_id=${APP_ID}&client_secret=${APP_SECRET}&fb_exchange_token=${PAGE_ACCESS_TOKEN}`
            let Path1 = `/oauth/access_token?grant_type=fb_exchange_token`;
            let Params1 = {
                fb_exchange_token: PAGE_ACCESS_TOKEN,
                client_secret: APP_SECRET,
                client_id: APP_ID
            }

            FB.api(Path1, METHOD, Params1, (response) => {
                console.log(response);
                // Long PAccess token
                //`${VERSION}/${App_Scoped_UID}/accounts?access_token=${response.access_token}`;
                let long_uaccess_token = response.access_token;
                let Path2 = `/${APP_SCOPED_UID}/accounts?`;
                let Params2 = {
                    access_token: long_uaccess_token
                }

                FB.api(Path2, METHOD, Params2, (response) => {
                    console.log(response);
                    let Long_PAccess_token = response.data[0].access_token;

                    let el = document.createElement('a');
                    el.setAttribute('href', "/Review/Index?longPAccessToken=" + Long_PAccess_token);
                    el.innerHTML = "send long page access token to the controller";
                    document.body.appendChild(el);

                    // Getting the reviews
                    PARAMS.access_token = Long_PAccess_token
                    FB.api(PATH, METHOD, PARAMS, CALLBACK);
                })
            });
        }
    };
</script>
<script async defer crossorigin='anonymous' src='https://connect.facebook.net/en_US/sdk.js'></script>  
     

<div class="container">
    <div class="body">
        @foreach (var review in Model)
        {
            <div class="card">
                <div class="card-header">
                    <div class="name">@review.ReviewerName</div>
                    <div class="date">@review.ReviewDate</div>
                </div>
                <div class="card-body">
                    <p class="card-text">@review.ReviewBody</p>
                    <div class="stars">@review.ReviewRating Stars / 5 Stars</div>
                </div>
            </div>
        }
</div>

</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var reviews = document.querySelectorAll(".card");
        reviews.forEach(function (review, index) {
            setTimeout(function () {
                review.classList.add("active");
            }, 100 * index);
        });
    });
</script>

<style>
    .card {
        opacity: 0;
        transform: translateY(50px);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .card.active {
        opacity: 1;
        transform: translateY(0);
    }
</style>