@model Portfolio
@{
    ViewData["Title"] = "Edit Portfolio Item";
}

<h1>Edit Portfolio Project</h1>
<br>

<div class="row p-2">
    <div class="col-md-5">Portfolio format:</div>
</div>
<div class="row p-2">
    <div class="col-md-2">
        <span id="default" name="default" class="btn primary">Default</span>
    </div>
    <div class="col-md-2">
        <span id="compba" name="compba" class="btn primary">Comparison: Before / After</span>
    </div>
</div>
<br>

<form method="post" asp-action="EditPortfolioItem" class="form-container">
    <input asp-for="PortfolioId" hidden>
    <div class="row p-2">
        <div class="col-md-4">
            @{
                List<GroupVM> groups = ViewBag.PhotoGroups ?? new List<GroupVM>();
            }
            @if (groups.Count > 0)
            {
                <select name="pGroupId" id="groupSelect">
                    <option value="0">
                        Select a photo group
                    </option>
                    @foreach (GroupVM g in groups)
                    {
                        @if(Model.PortfolioPGroups.Any(pg => pg.GroupId == g.GroupId))
                        {
                            <option value="@g.GroupId" selected>@g.Name</option>
                        }
                        else
                        {
                            <option value="@g.GroupId">@g.Name</option>
                        }
                    }
                </select>
            }
            else
            {
                <span>There are no selectable photo groups.</span>
            }
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            @{
                List<PhotoVM> photos = ViewBag.Photos ?? new List<PhotoVM>();
            }
            @if (photos.Count > 0)
            {
                <select name="thumbnailId" id="thumbnailSelect">
                    <option value="0">
                        Select a thumbnail image
                    </option>
                    @foreach (PhotoVM p in photos)
                    {
                        @if (Model.PortfolioThumbnail != null && Model.PortfolioThumbnail.PhotoId == p.PhotoId)
                        {
                            <option value="@p.PhotoId" selected>@p.Name</option>
                        }
                        else
                        {
                            <option value="@p.PhotoId">@p.Name</option>
                        }
                    }
                </select>
            }
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div id="layout" class="col-lg-8">
                <div class="portfolio-parent">
                    <div class="form-group">
                        <label for="PortfolioName">Project Name</label>
                        <input asp-for="PortfolioName" class="form-control portfolio-name" placeholder="Project Name" required>

                    </div>
                    <br />
                    <div class="form-group">
                        <label for="PortfolioSummary">Project Summary</label>
                        <textarea asp-for="PortfolioSummary" class="form-control portfolio-summary" placeholder="Write a summary here" required rows="10" style="width: 40vh;"></textarea>
                    </div>
                    <div class="portfolio-default-photos">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <input asp-for="IsHidden" hidden>
    <label for="shouldHide">Hide this item?</label>
    @if (Model.IsHidden)
    {
        <input name="shouldHide" type="checkbox" checked value="true">
    }
    else
    {
        <input name="shouldHide" type="checkbox" value="true">
    }
    <br>
    <div class="row p-2">
        <div class="form-group">
            <input type="submit" value="Finalize changes" class="btn primary">
            <a asp-controller="Portfolios" asp-action="DeletePortfolio" asp-route-id="@Model.PortfolioId" class="btn danger ml-2">Delete</a>
        </div>
    </div>
</form>