@model Photo
@{
    ViewData["Title"] = "Delete Photo";
    string url = "/photos/" + Model.PhotoCode;
}

<!--THIS PAGE IS NOT STYLED CORRECTLY, FIX LATER-->

<div class="row p-2">
	<a asp-controller="Photos" asp-action="AddPhoto" class="btn col-md-2">Add a Photo</a>
	<span class="col-md-1"></span>
	<a asp-controller="Photos" asp-action="AddGroup" class="btn col-md-2">Add a Group</a>
	<span class="col-md-1"></span>
	<a asp-controller="Photos" asp-action="Index" class="btn col-md-2">View Photos</a>
	<span class="col-md-1"></span>
	<a asp-controller="Photos" asp-action="Groups" class="btn col-md-2">View Groups</a>
</div>
<div class="row p-2">
	<a asp-controller="Photos" asp-action="HiddenPhotos" class="btn col-md-2">Hidden Photos</a>
	<span class="col-md-1"></span>
	<a asp-controller="Photos" asp-action="HiddenGroups" class="btn col-md-2">Hidden Groups</a>
</div>

<h1>Are you sure you want to delete this photo?</h1>

@if (Model.Group != null)
{
    <h4>@Model.Group.GroupName</h4>
}
else
{
    <h4>@Model.PhotoName</h4>
}
<img src="@url" alt="@Model.PhotoDescription" style="aspect-ratio:auto; width:50%;">
<figcaption>@Model.PhotoDescription</figcaption>
<hr>
<form method="post" asp-controller="Photos" asp-action="DeletePhoto">
    <input asp-for="PhotoId" hidden>
    <input asp-for="PhotoName" hidden>
    <input asp-for="PhotoDescription" hidden>
    <input asp-for="PhotoCode" hidden>
    <input type="submit" value="Delete" class="btn">
</form>
<hr>
<a asp-controller="Photos" asp-action="EditPhoto" asp-route-photoId="@Model.PhotoId" class="btn">Cancel</a>
