@model IEnumerable<Photo>
@{
	ViewData["Title"] = "Hidden Photos";
}

<!--THIS PAGE IS NOT STYLED CORRECTLY, FIX LATER-->

<div class="row p-2">
	<a asp-controller="Photos" asp-action="AddPhoto" class="btn col-md-2">Add a Photo</a>
	<span class="col-md-1"></span>
	<a asp-controller="Photos" asp-action="AddGroup" class="btn col-md-2">Add a Group</a>
	<span class="col-md-1"></span>
	<a asp-controller="Photos" asp-action="Index" class="btn col-md-2">View Photos</a>
	<span class="col-md-1"></span>
	<a asp-controller="Photos" asp-action="Groups" class="btn col-md-2">View Groups</a>
</div>
<div class="row p-2">
	<a asp-controller="Photos" asp-action="HiddenPhotos" class="btn col-md-2">Hidden Photos</a>
	<span class="col-md-1"></span>
	<a asp-controller="Photos" asp-action="HiddenGroups" class="btn col-md-2">Hidden Groups</a>
</div>

<h1>Hidden photos</h1>

@foreach (Photo p in Model)
{
	//THIS MIGHT NOT WORK ON AZURE, TEST AGAIN LATER
	string url = "/photos/" + p.PhotoCode;
	if (p.Group != null)
	{
		<h4>@p.Group.GroupName</h4>
	}
	else
	{
		<h4>@p.PhotoName</h4>
	}
	<img src="@url" alt="@p.PhotoDescription" style="aspect-ratio:auto; width:50%;">
	<figcaption>@p.PhotoDescription</figcaption>
	<br>
	<a asp-controller="Photos" asp-action="EditPhoto" asp-route-photoId="@p.PhotoId" class="btn">Edit Photo</a>
	<hr>
	<a asp-controller="Photos" asp-action="RestorePhoto" asp-route-photoId="@p.PhotoId" class="btn">Restore Photo</a>
	<hr>
}