@model IEnumerable<GroupVM>
@{
	ViewData["Title"] = "Groups";
}

<!--THIS PAGE IS NOT STYLED CORRECTLY, FIX LATER-->
<div class="accordion-container">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Manage Photos
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="row p-2">
                        <a asp-controller="Photos" asp-action="AddPhoto" class="btn primary col-md-5 m-2">Add a Photo</a>
                        <a asp-controller="Photos" asp-action="Index" class="btn primary col-md-5 m-2">View Photos</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Manage Group Photos
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="row p-2">
                        <a asp-controller="Photos" asp-action="AddGroup" class="btn primary col-md-5 m-2">Add a Group</a>
                        <a asp-controller="Photos" asp-action="Groups" class="btn primary col-md-5 m-2">View Groups</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Manage Hidden Groups and Photos
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="row p-2">
                        <a asp-controller="Photos" asp-action="HiddenPhotos" class="btn primary col-md-5 m-2">Hidden Photos</a>
                        <a asp-controller="Photos" asp-action="HiddenGroups" class="btn primary col-md-5 m-2">Hidden Groups</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h1>Hidden Groups</h1>

@foreach (GroupVM g in Model)
{
	//THIS MIGHT NOT WORK ON AZURE, TEST AGAIN LATER
	<h4>@g.Name</h4>
	<span>@g.Description</span>
	<hr>
	@foreach (PhotoVM p in g.Photos)
	{
		string url = "/photos/" + p.Url;
		<img src="@url" alt="@p.Description" style="aspect-ratio:auto; width:50%;">
		<hr>
	}
	<br>
	<a asp-controller="Photos" asp-action="DeleteGroup" asp-route-groupId="@g.GroupId" class="btn danger">Delete Group</a>

	<a asp-controller="Photos" asp-action="EditGroup" asp-route-groupId="@g.GroupId" class="btn primary">Edit Group</a>

	<hr>
	<a asp-controller="Photos" asp-action="RestoreGroup" asp-route-groupId="@g.GroupId" class="btn primary">Restore Group</a>
	<hr>
}