@model IEnumerable<PhotoVM>
@{
	ViewData["Title"] = "Photos";
}

<!--THIS PAGE IS NOT STYLED CORRECTLY, FIX LATER-->

<div class="row p-2">
	<a asp-controller="Photos" asp-action="AddPhoto" class="btn primary col-md-2">Add a Photo</a>
	<span class="col-md-1"></span>
	<a asp-controller="Photos" asp-action="AddGroup" class="btn primary col-md-2">Add a Group</a>
	<span class="col-md-1"></span>
	<a asp-controller="Photos" asp-action="Index" class="btn primary col-md-2">View Photos</a>
	<span class="col-md-1"></span>
	<a asp-controller="Photos" asp-action="Groups" class="btn primary col-md-2">View Groups</a>
</div>
<div class="row p-2">
	<a asp-controller="Photos" asp-action="HiddenPhotos" class="btn primary col-md-2">Hidden Photos</a>
	<span class="col-md-1"></span>
	<a asp-controller="Photos" asp-action="HiddenGroups" class="btn primary col-md-2">Hidden Groups</a>
</div>

<h1>Photos</h1>

<!--
@foreach (PhotoVM p in Model)
{
	//THIS MIGHT NOT WORK ON AZURE, TEST AGAIN LATER
	string url = "/photos/" + p.Url;
	if (p.Group != null)
	{
				<h4>@p.Group.GroupName</h4>
	}
	else
	{
				<h4>@p.Name</h4>
	}
		<img src="@url" alt="@p.Description" style="aspect-ratio:auto; width:50%;">
		<figcaption>@p.Description</figcaption>
		<br>
		<a asp-controller="Photos" asp-action="DeletePhoto" asp-route-photoId="@p.PhotoId" class="btn danger">Delete Photo</a>

		<hr>
}
-->

<div class="row row-cols-1 row-cols-md-3 g-4">
	@foreach (PhotoVM p in Model)
	{
		string url = "/photos/" + @p.Url;
		<div class="col">
			<div class="card">
				<img src="@url" class="card-img-top" alt="@p.Description" />
				<div class="card-body">
					@if (p.Group != null)
					{
						<h5 class="card-title">@p.Group.GroupName</h5>
					}
					else
					{
						<h5 class="card-title">@p.Name</h5>
					}
					<p class="card-text">@p.Description</p>
				</div>
				<div class="card-footer">
					<a asp-controller="Photos" asp-action="EditPhoto" asp-route-photoId="@p.PhotoId" class="btn">Edit Photo</a>
				</div>
			</div>
		</div>
	}
</div>